

#project-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.project {
	background: rgb(241,245,249);
	width: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 6px;
	padding-left: 12px;
	padding-right: 12px;
	box-sizing: border-box;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.project:hover {
	background: rgb(234,237,243);
}

.project-img {
	width: 20px;
	height: 20px;
	object-fit: cover;
}

.project-header {
	font-weight: 400;
	margin-bottom: 6px;
	margin-top: 6px;
}

.project-description {
	font-weight: 300;
}